p1{
    font-family: 'Andada Pro', serif;
}
p2{
    font-family: 'Bebas Neue', cursive;
}
p3{
    font-family: 'Rampart One', cursive;
}
p1, p2, p3, p4 {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }